.custom-hr {
    height: 0.5rem;
    background: black !important;
    margin: 20px 0;
}

.card-hr {
    height: 0.1rem;
    background: black !important;
    margin: 20px 0;
}

.categories-card,
.other-footer,
.social-icons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-card {
    width: 18rem !important;
    height: 20rem !important;
    flex-grow: 1;
    text-align: center;
    border-radius: 25px !important;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.footer-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card-body h4,
p {
    text-align: left;
}

.p-link {
    display: block;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}

.p-link:hover {
    text-decoration: underline;
}

.categories-card img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 6.5rem !important;
}

.other-footer {
    margin-left: 1% !important;
    display: flex;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 10px;
}

.social-icon {
    font-size: 30px;
    transition: transform 0.3s, color 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
}

.social-icon.fa-facebook {
    color: #3b5998;
}

.social-icon.fa-instagram {
    color: #e4405f;
}

.social-icon.fa-youtube {
    color: #ff0000;
}

.social-icon.fa-linkedin {
    color: #0077b5;
}

.contact-us,
.agreements {
    margin-top: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.contact-icon {
    font-size: 20px;
    color: #000000;
}

.left-screen {
    flex: 1;
}

.right-screen {
    flex: 1;
    text-align: left;
}

.copyrights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
    padding: 10px 0;
}

.copyrights p {
    margin: 0;
    line-height: 1.5;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
}

.card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.facebook {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
}

.card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.linkedin {
    margin-top: -2em;
    margin-left: 1.5em;
    fill: #0077b5;
}

.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.youtube {
    margin-top: -2.5em;
    margin-left: -2em;
    fill: #f14336;
}

.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #ff00c8;
}

.card1:hover .instagram {
    fill: white;
}

.card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #1877f2;
}

.card2:hover .facebook {
    fill: white;
}

.card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #0077b5;
}

.card3:hover .linkedin {
    fill: white;
}

.card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #f14336;
}

.card4:hover .youtube {
    fill: #ffffff;
}

.card4:hover .youtube_center_Icon {
    fill: #f14336;
}