/* @tailwind base;
@tailwind components;
@tailwind utilities;


@import 'flowbite/dist/flowbite.min.css'; */

body {
  margin: 0;
  font-family: 'Georgia', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* .container-fluid{
  padding-left: 15% !important;
  padding-right: 15% !important;
} */

.background{
  background-color: #F1EFE3;
}